/*  Colors  */

$white:         #ffffff;
$grey:          #7b7b7b;
$black:         #000000;
$blue:          #117dbf;
$light-grey:    #efefef;
$lighter-grey:  #f7f7f7;
$dark-grey:     #222222;
$dark-orange:   #d95204;
