/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

/*  Button Default  */

.button, .submit { font-size: 15px; border-width: 2px; border-color: $white; background: transparent; text-transform: uppercase; padding: 14px 15px; }
.button:hover,
.button:focus { background: $dark-orange; border-color: transparent; outline: none; }
.button {
	-webkit-transition: all 0.2s ease-out; 
	     -o-transition: all 0.2s ease-out; 
	        transition: all 0.2s ease-out; 
}

/*  Button Tiny  */

.button.tiny { border-width: 1px; }

/*  Button Grey  */

.button.grey { color: $grey; border-color: $grey; background: $white; }
.button.grey:hover { background: $dark-orange; border-color: transparent; color: $white; }

/*  Button Orange  */

.button.orange { background: $dark-orange; border-color: transparent; color: $white; }
.button.orange:hover { color: $grey; border-color: $grey; background: $white; }

/*  Button Circle  */

.button.circle { width: 46px; height: 46px; line-height: 46px; padding: 0; border-radius: 50%; background: $light-grey; border: 0; text-align: center; color: $grey; font-size: 19px; }
.button.circle:hover { background: $white; }

