/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

label { font-family: 'Raleway', serif; font-size: 14.5px; font-weight: bold; color: $grey; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea { height: 40px; border-color: $grey; background: $white; box-shadow: none; margin-top: 9px; margin-bottom: 22px; }
