/* ------------------------------------------------------------ *\
	Page
\* ------------------------------------------------------------ */

.page .entry {
	padding-bottom: 30px;
}

.page-head { text-align: left; margin: 0px 60px 20px 60px;}

.error-title { font-size: 200px;}