/* ------------------------------------------------------------ *\
	Photo Tiles
\* ------------------------------------------------------------ */
.photo-tiles {
	padding: 7px 0;
}

.photo-tile a:hover {
	opacity: 0.7;
}

.photo-tile a {
	transition: all 0.2s ease-out;
}
